<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <header>memo.app!!</header>
    <%= yield %>
  </body>
</html>