<head>
  <title>新規作成</title>
</head>

<form method="post" action="/memos">
  <h1>Title</h1>
  <input type="text" name="title" required="required">
  <h1>Memo</h1>
  <textarea name="content" cols="70" rows="8"></textarea>
  <p><button class="keep_memo_button" type="submit">保存</button></p>
</form>

<form method="get" action="/memos">
  <button class="jump_toppage_button" type="submit">メモ一覧へ</button>
</form>
