<head>
  <title>メモ詳細</title>
</head>

<% @memos.each do |memo| %>
  <h1>Title</h1>
  <h3><%= "#{h(memo['title'])}" %></h3>
  <h1>Memo</h1>
  <h3><%= "#{h(memo['content'])}" %></h3>

  <form method="get" action="/memos/<%= "#{memo['memo_id']}" %>/edit">
    <button class="edit_memo_button" type="submit">編集</button>
  </form>

  <form method="post" action="/memos/<%= "#{memo['memo_id']}" %>">
    <input type="hidden" name="_method" value="delete">
    <button class="delete_memo_button" type="submit">削除</button></p>
  </form>
<% end %>

<form method="get" action="/memos">
  <button class="jump_toppage_button" type="submit">メモ一覧へ</button></p>
</form>