<head>
  <title>メモトップ</title>
</head>

<ul class="memo_title">
  <h2>Title</h2>

  <% @memos.each do |memo| %>
    <li>
      <a href='/memos/<%= memo['memo_id'] %>'><%= h(memo['title']) %></a>
    </li>
  <% end %>

</ul>

<form method="get" action="/memos/new">
  <button class="creare_memo_button" type="submit">新規作成!</button>
</form>